/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: purple;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.image {
  z-index: 0;
  height: 800px;
  width: 100%
}